@model CityWeather
@{
	ViewData["Title"] = "City Details";
	string? getColor(int? temp)
	{
		if (temp < 44) return "blue";
		if (temp <= 74) return "yellow";
		return "orange";
	}
}

<h1 class="weather-header">Weather</h1>
<div class="city-card city" style="background-color: @getColor(Model.TemperatureFahrenheit); color: #fff;">
	<h2>@Model.CityName</h2>
	<p class="time">@Model.DateAndTime?.ToString("hh:mm tt")</p>
	<p class="temperature">@Model.TemperatureFahrenheit °F</p>
	<a href="/" class="details-link">Back to weather page home</a>
</div>
