@model IEnumerable<CityWeather>
@{
	ViewData["Title"] = "Cities";
	int id = 0;
}
<div class="weather-container"> 
	<h1>Weather</h1>
	<div class="container">
		@foreach (var city in Model)
		{

			<div class="city-card" style="background-color: @ViewBag.Colors[id++];">
				<h2>@city.CityName</h2>
				<p class="time">@city.DateAndTime?.ToString("hh:mm tt")</p>
				<p class="temperature">@city.TemperatureFahrenheit °F</p>
				<a href="weather/@city.CityUniqueCode" class="details-link">Details</a>
			</div>
		}
	</div>
</div> 