body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1200px;

}

.container {
    display: flex;
    gap: 32px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.city-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #fff;
}

h2 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #555;
}

.time {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.temperature {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.details-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

    .details-link:hover {
        background-color: #0056b3;
    }

.city, .weather-header {
    width: 500px;
    text-align: center;
}

.city-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
